<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buba.ybd.dao.YbdRoleMapper" >
    <!-- List<SecRole> findRole(); -->
    <select id="findRole" resultType="com.buba.ybd.pojo.YbdRole">
        select * from ybd_role
    </select>

    <!-- int addRole(@Param("voio") UserRoleFormdata voio); -->
    <insert id="addRole" parameterType="com.buba.ybd.pojo.UserRoleFormdata"
    useGeneratedKeys="true" keyProperty="voio.roleId">
        insert into ybd_role (role_name,role_code,createtime)
        values (#{voio.rolename},#{voio.rolecode},now())
    </insert>

    <!-- int deleteRoleRes(Integer roleId); -->
<!--    <delete id="deleteRoleRes">-->
<!--        DELETE FROM sec_role_res WHERE role_id = #{roleId}-->
<!--    </delete>-->

    <!-- int deleteRole(Integer roleId); -->
<!--    <delete id="deleteRole">-->
<!--        DELETE FROM sec_role WHERE id = #{roleId}-->
<!--    </delete>-->

    <!-- SecRole findRoleById(Integer objId); -->
<!--    <select id="findRoleById" resultType="com.example.hbgd.pojo.SecRole">-->
<!--        SELECT * FROM sec_role WHERE id = #{objId}-->
<!--    </select>-->
</mapper>