<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buba.ybd.dao.YbdUserMapper" >

    <!-- SecUser findUserByName(String userName);-->
    <select id="findUserByName" resultType="com.buba.ybd.pojo.YbdUser">
	  SELECT ybd_user.*,ybd_role.id as roleId,ybd_role.role_name as rolename
		FROM
		    ybd_user LEFT JOIN ybd_user_role ON ybd_user.id = ybd_user_role.user_id
			LEFT JOIN ybd_role ON ybd_user_role.role_id = ybd_role.id
		WHERE ybd_user.user_name = #{userName}

    </select>
    <select id="loading_res" resultType="com.buba.ybd.pojo.YbdRes">
        SELECT ybd_res.* FROM ybd_role_res
            LEFT JOIN ybd_res on ybd_role_res.res_id=ybd_res.id
          WHERE ybd_role_res.role_id = #{roleId}
    </select>

</mapper>